:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --white:#FFFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
} 
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width:250px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width: 85%;
    min-width: 280px;
    max-width: 900px;
    height: 218px;
    margin-top: 30px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}

.header--title-container p{
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    border: none;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
}

.header--button span{
    display: inline-block;
    width: 13px;
    height:8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');

}
main{
    width: 100%;
    min-width: 280px;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .background-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container--title h2{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--warm-black);
    text-align: center;
    line-height: 2.6rem;
    margin-bottom: 30px;

}

.main-exchange-container--title p{
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
    text-align: center;
    line-height: 1.8rem;
    margin-bottom: 30px;

}
.main-currency-table{
    width: 90%;
    min-width: 250px;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: center;
    margin-left: 10px;

}
.currency-table--container{
    width: 90%;
    min-width: 250px;
    max-width: 300px;
    height: 200px;
    margin: 0 auto;

}
.currency-table--container table{
    width: 100%;
    height: 100%;
}
.currency-table--container td{
    width: 40%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--white);
}
.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0 ;
}
.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px  ;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0 ;
}
.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(./assets/icons/trending-down.svg);
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(./assets/icons/trending-up.svg);
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.currency-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 5px;

}
.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);

}
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 280px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top:-10px;
    left: calc(50% - 20px);
    background-image: url(./assets/icons/batata.svg);
}
.product-detail--title{
    width: 90%;
    min-width: 250px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card{
    width: 90%;
    min-width: 250px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: #282623;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.16);
}
.product-detail--card span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
}
.product-detail--card .clock{

    background-image: url(./assets/icons/clock.svg);

}
.product-detail--card .eye{

    background-image: url(./assets/icons/eye.svg);

}
.product-detail--card .check{

    background-image: url(./assets/icons/check-circle.svg);

}
.product-detail--card .dollar{

    background-image: url(./assets/icons/dollar-sign.svg);

}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);
}
.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container{
    width: 100%;
    min-width: 280px;
    height: 60vh;
    background-image: url("./assets/img/bitcoinbaby.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bitcoin-img-container h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding-top: 65px;
}
.main-plans-container{
    width: 100%;
    min-width: 280px;
    padding-bottom: 30px;
    text-align: center;

}
.plans--title{
    width: 90%;
    min-width: 280px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--title h2{
    padding-top: 50px;
    color: var(--warm-black);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;

}
.plans--title p{
    padding-top: 30px;
    color: #757575;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.plans-container--slider{
    display: flex;
    height: 340px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
}
.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    margin: 30px 0px 0px 30px;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    padding: 0 15px;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(89, 73, 30, 0.16);
}
.main-plans-container .plans-container--card:last-child{

    margin-right: 20px;

}

.recommended {
    position: absolute;
    left:calc(50% - 60px);
    top:-15px;
    width: 120px;
    height: 30px;
    background-color: var(--bitcoin-orange);
    border-radius: 7px;
    color: var(--white);
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    padding: 7px;
}

.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card--price{
    font-size: 5.2rem;
    font-weight: bold;
    color: black;
}
.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.plan-card--saving{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: rgba(117, 117, 117, 1);
}
.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border-radius: 5px;
    border: 2px solid var(--bitcoin-orange);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color:var(--black);
    
}
.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: -6px;
}
footer{
    width: 100%;
    display: flex;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;

}
footer .left li{
    margin: 10px 0;
    
}
.left a {
    text-decoration: none;
    color: var(--white);
}
